/* fonts */

@font-face {
  font-family: "gora_freeregular";
  src: url("../../fonts/gora-free-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sans";
  src: url("../../fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "open_sans";
  src: url("../../fonts/opensans-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "open_sans";
  src: url("../../fonts/opensans-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
