.page-image {
  position: relative;
}

.page-image__picture {
  position: relative;
  max-width: 100%;
  border-radius: 5px;
}

.main-content-container {
  padding-right: 21%;
}

.page-image__text {
  position: absolute;
  color: #ffffff;
  font-weight: bold;
  font-size: 49px;
  line-height: 38px;
  top: 158px;
  left: 63px;
  text-transform: uppercase;
}

.page-text p {
  font-size: 18px;
  text-align: left;
  margin-bottom: 19px;
  line-height: 29px;
}



