.comments__item {
  border: 2px solid #f5f5f5 transparent;
  margin-top: 30px;
  border-bottom: 2px solid #f5f5f5;
}

.comments__item:last-child {
  border-bottom: 0;
  margin-bottom: 25px;
}

.comments__img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 62px;
  margin-right: 19px;
  vertical-align: middle;
  max-width: 100%;
}

.comments__img-pic {
  max-height: 100%;
}

.comments__info {
  display: inline-block;
  width: 688px;
  vertical-align: middle;
}

.comments__date {
  color: #656464;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
}

.comments__name {
  color: #221f1f;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  text-align: left;
}

.comments__comments {
  margin-bottom: 26px;
  color: #221f1f;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
}

.main-content__pagination {
  margin-bottom: 70px;
}

.pagination__title,
.pagination__arrow,
.pagination__pages,
.pagination__page-number {
  display: inline-block;
}

.pagination__title {
  color: #656464;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
  margin-left: 220px;
}

.pagination__arrow_left {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  opacity: 0.3;
}

.pagination__arrow {
  width: 8px;
  height: 10px;
  background: url("../../img/other/arrow2.png") no-repeat;
  margin: 0 15px;
}

.pagination__pages {
  font-size: 0;
}

.pagination__page-number {
  color: #221f1f;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
}

.pagination__page-number:hover {
  color: #787878;
}

.pagination__page-number_active {
  background-color: #141414;
  color: #787878;
  padding: 2px;
}

.paginatoin__link {
  color: inherit;
  text-decoration: none;
}
