.header {
  background: #4e8839;
  min-height: 78px;
}

.header__left,
.header__right {
  float: left;
  width: 50%;
}

.header__right {
  text-align: right;
  padding-top: 15px;
  padding-bottom: 5px;
}

.header__left {
  text-align: left;
  padding-top: 28px;
  padding-bottom: 26px;
}

.header__text {
  font-family: "gora_freeregular", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  color: #f89513;
  font-size: 25px;
  display: inline-block;
  letter-spacing: 1.5px;
}

.social-text {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 7px;
}

.social-icons__list {
  list-style: none;
  font-size: 0;
}

.socials-icons__item {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url("../../img/icons social/spritesheet.png") 0 0 no-repeat;
  margin-right: 10px;
}

.socials-icons__item__fb {
  background-position: -20px -20px;
}

.social-icons__link:hover .socials-icons__item__fb {
  background-position: -80px -20px;
}

.socials-icons__item__google {
  background-position: -140px -20px;
}

.social-icons__link:hover .socials-icons__item__google {
  background-position: -200px -20px;
}

.socials-icons__item__twitter {
  background-position: -380px -20px;
}

.social-icons__link:hover .socials-icons__item__twitter {
  background-position: -440px -20px;
}

.socials-icons__item__mail {
  background-position: -260px -20px;
}

.social-icons__link:hover .socials-icons__item__mail {
  background-position: -320px -20px;
}