.header-text__name {
  color: #ffffff;
  font-size: 30px;
}

.picture__intro {
  max-width: 150px;
  border-radius: 50%;
  margin-top: 30px;
}

.intro-button__text {
  background: #6c9c5a;
  display: block;
  padding: 14px 21px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border: transparent;
  border-radius: 3px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  margin-top: 5px;
}

.intro-button__text:hover {
  background: #4e8839;
}

.wrapper_intro-page {
  background: url("../../img/intro/o.jpg") center center no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  min-width: initial;
  position: relative;
}

.wrapper_intro-page:before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

.intro-page {
  width: 300px;
  display: inline-block;
  margin-top: 65px;
  background-color: rgba(252, 252, 252, 0.4);
  border-radius: 5px;
}

.intro-logo {
  height: 270px;
}
