.sidebar {
    padding-top: 42px;
    padding-right: 10px;
}

.sidebar {
    float: left;
    width: 180px;
}

.nav-menu {
    list-style: none;
}

.nav-menu__item_active .nav-menu__text {
    color: #221f1f;
}

.nav-menu__item {
    margin-bottom: 20px;
}

.nav-menu__link {
    text-decoration: none;
}

.nav-menu__text {
    font-weight: bold;
    font-size: 14px;
    color: #f89513;
    text-transform: uppercase;
    display: inline-block;
    max-width: 130px;
    vertical-align: middle;
    letter-spacing: 1px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.nav-menu__text:hover {
    color: #221f1f;
}

.title__sidebar {
    text-align: center;
    margin: 30px 0 20px 0;
    border-bottom: 2px solid #4e8839;
}

.title__sidebar-work {
    text-transform: uppercase;
    font-size: 16px;
    color: #4e8839;
    margin: 0;
    font-weight: bold;
    
}
